.hero {
    margin-top: 60px;
    height: 100vh;
    min-height:30rem;
    max-height:40rem;
    background-image: url('../../assets/images/image0_0.jpg'); 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    text-align: left;
    padding-top: 30px;
    justify-content: space-evenly;
    position: relative;
}

.hero {
    position: relative;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0) 100%);
  }
  
  .welcome {
    position: relative;
    z-index: 1; /* Ensure h1 is above the overlay */
    font-family: 'Poppins', sans-serif;
    color: #fff;
    font-weight: 900;
    max-width: 800px;
    font-size: 4rem;
    text-align: left;
    margin: 40px 40px 30px 40px;
  }
  


.welcome {
    font-family: 'Poppins', sans-serif;
    color: #fff;
    font-weight: 900;
    max-width: 800px;
    font-size: 4rem;
    text-align: left;
    margin: 40px 40px 30px 40px;
    text-shadow: 10px 5px 4px rgba(0, 0, 0, 0.5);
}

.tagline{
    font-family: 'Poppins', sans-serif;
    width:fit-content;
    margin:20px 0;
    max-width:850px;
    color: #000;
    font-size: 24px;
}

.get-started{
    font-family: 'Cookie', cursive;
    width:fit-content;
    margin:50px 0;
    max-width:850px;
    color: #fff;
    font-size: 30px;
}
.progress-bar {
    position: fixed;
    top: 100px;
    left: 0;
    right: 0;
    height: 10px;
    background: red;
    transform-origin: 0%;
    z-index: 999;
  }



  

  @media  screen and (max-width:800px) {
    .welcome{
        font-size: 4.3rem;

    }
    .tagline{
        font-size: 20px;


    }
    .get-started{
        font-size: 26px;
    }
  }
  @media  screen and (max-width:723px) {
    .welcome{
        font-size: 3.3rem;
        margin:10px 4px;
    }
    .tagline{
        font-size: 14px;
        margin: 10px 3px;

    }
    .get-started{
        font-size: 20px;
        margin:10px 3px;

    }
  }